@{
    ViewBag.Title = "Home Page";
}
    <h2>@ViewBag.Title</h2>
    <div id="content">
        <p>
            Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus ligula nec tellus lacinia, quis vestibulum turpis auctor. Sed faucibus sapien ac diam accumsan fringilla. Nam scelerisque eget nisi id fermentum. Fusce ut dui eu tellus facilisis pellentesque. Integer eu ligula at erat interdum gravida. In mi risus, eleifend in dui et, blandit congue ante. Ut lobortis nunc nec metus convallis, eu venenatis magna facilisis. Ut rhoncus erat ac sem gravida, quis aliquet ex tincidunt. Integer tempor pulvinar fringilla. Suspendisse sagittis laoreet urna non accumsan. In hac habitasse platea dictumst.
        </p>

        <form method="post" action="http://webdevbasics.net/scripts/demo.php" id="search_form">
            <label for="Search_Input">Search:</label>
            <input type="text" placeholder="Search for Textbook" name="Search_Input" id="Search_Input" maxlength="50"  required>
            <input value="Submit" id="submit" type="submit" class="submit">
        </form>

        <p>
            Orci varius natoques penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec vitae tortor et neque imperdiet tincidunt. Quisque mollis sed dui eget tempor. Vestibulum feugiat, metus id luctus pulvinar, nisl mauris aliquam elit, in fermentum nisl mi quis nisi. Aliquam et tristique leo. Aenean non nulla tincidunt, malesuada ante at, iaculis tortor. Mauris posuere magna leo, ut lobortis ipsum gravida fringilla. Aenean at lectus varius, bibendum dolor at, efficitur leo. Donec congue nibh at arcu commodo, sed pellentesque ante condimentum.
        </p>


    </div>