/* COLOR SCHEME: Knot Just Nautical
http://spots.augusta.edu/pyork1/selfiesitecolors.html
Primary: color: #2C3E50; background-color: #FFFFFF;
Secondary: color: #FFFFFF; background-color: #FC4349;
Tertiary: color: #2C3E50; background-color: #D7DADB;
Highlight: color: #2C3E50; background-color: #6DBCDB;
Body: color: #6DBCDB; background-color: #2C3E50;
*/

header {
  color: #FFFFFF;
  background-color: #FC4349;
  border-radius: 10px 10px 0 0;
  text-align: center;
}


nav {
  color: #2C3E50; 
  background-color: #D7DADB;
  font-size: 14pt;
  font-weight: bold;
  box-shadow: 0 10px 5px -5px #6DBCDB;
  position: relative;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #2C3E50;
  transition: background-color 0.25s ease, color 0.25s ease;
  padding: 0 5px 0 5px;
}

nav a:hover {
  color: #2C3E50;
  background-color: #6DBCDB;
  transition: background-color 0.25s ease, color 0.25s ease;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

main {
  color: #2C3E50; 
  background-color: #FFFFFF;
  padding: 10px;
}

body {
  font-family: Calibri, Helvetica, Arial, sans-serif;
  color: #6DBCDB; 
  background-color: #2C3E50;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 5px 10px;
  font-size: 36pt;
  font-weight: lighter;
}

footer {
  color: #FFFFFF; 
  background-color: #FC4349;
  padding: 5px 10px;
  font-size: 10pt;
  font-style: italic;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px -5px 5px 0px #6DBCDB;
}

#content {
  color: #2C3E50; 
  background-color: #FFFFFF;
  padding: 10px;
  z-index: 0;
  overflow: auto;
}

label {
  display: inline-block;
  width: 55px;
  font-weight: bold;
  margin: auto;
}

#submit {
  width: 75px;
  border-radius: 5px;
}

textarea {
  height: 75px;
}

#formstyle {
  display: block;
  background-color: white;
  border: groove;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  width:480px;
  height:250px;
  margin-top: -144px;
  margin-left: -250px;

}

input {
  border-radius: 5px;
  text-align: center;
}

#formstyle input {
  display: block;
  width: auto;
  margin: 0 auto 5px;
}

#pic_div {
  background-color: rgb(249, 147, 91);
  background-color: rgba(249, 147, 91, 0.5);
  float: left;
  padding: 25px;
  border: 3px solid rgb(0, 0, 0);
  border: 3px solid rgba(0, 0, 0, .9);
}

#pic_div img {
  width: 200px;
}

#book_result {
  padding-left: 15px;
}

#book_result .subj {
  font-size: 140%;
  font-weight: bold;
  background-color: rgba(249, 147, 91, .5);
  /*border: 2px solid rgba(255, 125, 56, .5);*/
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

#book_result .deets {
  font-size: 125%;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(154, 165, 202, 0.5);
}

#sale_div {
  padding-top: 5px;
  clear: both;
}
