@{
    ViewBag.Title = "Login";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div id="formstyle">
    <h1>Login</h1>

    <form id="log_form" method="post">
        <input type="text" name="user_name" placeholder="Username" id="user_name" maxlength="50">
        <input type="text" name="password" placeholder="Password" id="password" maxlength="50">
    </form>

    <input type="submit" value="Log In">
    <p>Need to Create an account?</p>
    <input type="submit" value="Sign Up!" onclick="location.href='signup.html';">
</div>